<p>Olá {{ name }},</p>
<p>Bem vindo ao sistema X.</p>
<p>
    <a class="button" href="{{ url }}">Acesse à página de login</a>
</p>

<p>Se o botão não funcionar:</p>
<p>
    <a href="{{ url }}">{{ url }}</a>
</p>

<style>
    .button {
    display: block;
    width: 135px;
    height: 30px;
    background: #4E9CAF;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
</style>
